<div class="container">

<h2>{{model.content}}</h2>

{{single-question question=model.question}}

<!-- {{update-question question=question update="update"}}
<button class="btn btn-danger btn-xs" {{action 'delete' question}}>Delete</button> -->

<h2>Answers</h2>

<ul>
  {{#each model.question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer" question=model.question}}

</div>
